/*horizontális rendezés*/
#clock {
    text-align: center;
}

/*vertikális rendezés*/
html,
body {
    height: 100%;
}

#clock {
    text-align: center;
    position: relative;
    top: 50%;
    font-family: 'Tektur', cursive;
    font-size: 5rem;
    color: antiquewhite;
    margin-top: -2.5rem;
}